
body, html {
 margin: 0;
 padding: 0;
 background-color:ghostwhite;
}

.grid {
  display: grid;
  place-content: center;
  margin: 8px;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 10px;
}

.cell {
  width: 60px;
  height: 60px;
  background: center/cover;
  cursor: pointer;
  transition: 0.3s;
}

.cell:active {
  transform: scale(1.2);
  filter: brightness(2);
}

.message {
  opacity: 0;
  margin-top: 20vh;
  transition: 0.5s;
  text-align: center;
  font-size: 24px;
  color:cadetblue;
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}

.message.show {
  opacity: 1;
}
